.content-container {
    display: none;
    position: fixed;
    top: 0; 
    left: 0%;
    right: 0%;
    bottom: 0;
    overflow-y: auto; 
    background-color: transparent; 
    backdrop-filter: blur(10px);
    padding: 20px;
    box-sizing: border-box;
    z-index: 9;
    max-width: 100%; 
}

.content-container.active {
    display: block;
}