.menu-icon {
    background-color: transparent;
    z-index: 11;
    color: white;
    padding: 0;
    font-size: 40px;
    cursor: pointer;
    border: none;
    position: fixed;
    top: 1.8%;
    right: 1%;
    transform: rotate(90deg);
    transition: transform 0.5s ease;
}

.menu-icon.open {
    transform: rotate(0deg);
}

.dropdown-content {
    pointer-events: none;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.462); 
    backdrop-filter: blur(20px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 10;
    transform: translateY(-100%);
    opacity: 0;
    padding: 10px 0;
    border-bottom:rgb(104, 104, 104) 1px solid;
}

.dropdown-content.active {
    pointer-events: auto;
    transform: translateY(0%);
    opacity: 1;
}

.dropdown-content button {
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Produckt', Light; 
}